body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 0;
    
}

button {
    margin: 2px 2px 2px 2px;
}

.container {
    background-color: beige;
    padding: 4px 4px 4px 4px;
    margin: 0;
    border: 10px dashed pink;
}

/* .owner {
    background-color: aquamarine;
    text-align: center;
    margin: 4px;
} */